<div class="mark">
<a href="http://{{ mark.url }}" target="_blank">
<img src="{{ url('url_img') }}/favicons/{{ mark.label|lower }}.ico" class="ico" height="16px" />{{ mark.label }}</a>,
&nbsp;<span class="desc">{{ mark.description }}</span>

</div>