<p>
	<a href="{{ url('url_base') }}{{ controller }}/list" class="btn back">{{ 'back to list'|trans }}</a>
</p>
&nbsp;
{% if form %}
{% if error %}<div class="box_error">{{ error }}</div>{% endif %}
{% if success %}<div class="box_success">{{ success }}</div>{% endif %}
{% if warning %}<div class="box_warning">{{ warning }}</div>{% endif %}
{% if notice %}<div class="box_notice">{{ notice }}</div>{% endif %}
<form action="#" method="post">
<fieldset>
{{ form_widget(form) }} <!-- form_rest -->
<div class="group group-btn">
	<div>
		<span class="label"> </span>
		<input type="submit" name="submit" value="{{ 'save'|trans }}" class="btn save" />
	</div>
</div>
</fieldset>
</form>

<form action="#" method="post">
<fieldset>
<div class="group">
	<div>
		<span class="label-big">{{ 'tags'|trans }}&nbsp;&nbsp;</span>
		<input type="text" id="tag-autocomplete" value="" />
	</div>
</div>
<div class="group">
	<div>
		<span class="label">&nbsp;</span>
	</div>
</div>
<div class="group">
	<div>
		<span class="label"> </span>
		<span>...</span>
	</div>
</div>
</fieldset>
</form>


{% else %}
No form to display
{% endif %}