<div class="punchline">
Des nombreux signets, classés par sujets pour y accéder plus rapidement.
</div>

<ul class="tags">
<li {% if not id_tag %}class="sel"{% endif %}><a href="{{ url('url_base') }}{{ controller }}">Derniers signets</a></li>
{% if Tags %}
{% for tag in Tags %}
<li {% if tag.id == id_tag %}class="sel"{% endif %}><a href="{{ url('url_base') }}{{ controller }}/filter/{{ tag.id }}">{{ tag.label }}</a></li>
{% endfor %}
{% endif %}
</ul>

<div class="bookmarks">
{% if Results %}
{% for mark in Results %}
{% include [ controller ~ '/bookmark_small.html.twig' ] ignore missing %}
{% endfor %}
{% endif %}
</div>
