<p>
	<a href="{{ url('url_base') }}aa/editr?x={{ editr_ctrl }}/list" class="btn back">{{ 'back to list'|trans }}</a>
</p>
&nbsp;
{% if form %}
<form action="#" method="post">
{{ form_widget(form) }} <!-- form_rest -->
<div class="footer">
	<div>
		<span class="label"> </span>
		<input type="submit" name="submit" value="{{ 'save'|trans }}" class="btn save" />
	</div>
</div>
</form>
{% else %}
No form to display
{% endif %}