<p>
	<a href="{{ url('url_base') }}aa/editr?x={{ editr_ctrl }}/edit" class="btn add">{{ 'new'|trans }}</a>
</p>

{% if Results %}
<table cellpadding="0" cellspacing="0">
<thead>
<tr>
	<th>{{ editr_ctrl|trans }}</th>
	<th width="50px">&nbsp;</th>
</tr>
</thead>
{% for item in Results %}
{% set css = (loop.index % 2) ? 'even' : 'odd' %}
<tbody>
<tr class="{{ css }}">
	<td>
	{{ item.label|raw }}
	</td><td>
	<a href="{{ url('url_base') }}aa/editr?x={{ editr_ctrl }}/edit/{{ item.id }}">
		<img src="{{ url('url_img') }}/icomoon/edit.svg" title="{{ 'edit'|trans }}" height="16px" />
	</a>
	
	<a href="{{ url('url_base') }}aa/editr?x={{ editr_ctrl }}/del/{{ item.id }}">
		<img src="{{ url('url_img') }}/tango/delete.svg" title="{{ 'delete'|trans }}" height="16px" />
	</a>
	</td>
</tr>
</tbody>
{% endfor %}
</table>
{% endif %}