<p>
	<a href="{{ url('url_base') }}aa" class="btn">[ {{ 'admin'|trans }} ]</a>&nbsp;
	<a href="{{ url('url_base') }}{{ controller }}/list" class="btn back">{{ 'back to list'|trans }}</a>
</p>
&nbsp;
{% if form %}
{% if error %}<div class="box_error">{{ error }}</div>{% endif %}
{% if success %}<div class="box_success">{{ success }}</div>{% endif %}
{% if warning %}<div class="box_warning">{{ warning }}</div>{% endif %}
{% if notice %}<div class="box_notice">{{ notice }}</div>{% endif %}
<form action="#" method="post">
{{ form_widget(form) }} <!-- form_rest -->
<div>
	<div>Tags</div>
	<div>
	{% if Tags %}
	{% for item in Tags %}
	<span style="display:block; float:left; width:100px; margin-left:5px;">
		<input type="checkbox" name="tags[]" value="{{ item.id }}" {% if item.id_memo %}checked="checked"{% endif %}/>&nbsp;{{ item.label }} 
	</span>
	{% endfor %}
	{% endif %}
	<br/>&nbsp;
	</div>
</div>

<div class="footer">
	<div>
		<span class="label"> </span>
		<input type="submit" name="submit" value="{{ 'save'|trans }}" class="btn save" />
	</div>
</div>
</form>
{% else %}
No form to display
{% endif %}