<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Error Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/styles.css" media="screen" />
	<style type="text/css" media="screen">
	#error-min {
		width:250px;
		margin:10% auto; padding:15px 20px;
		background-color:#334;
		border:1px solid #557;
	}
	#error-min span.errnum {
		display:block; text-align:center;
		font-family: LatoBlack, 'Bedas' , 'Arial Black';
		font-size: 60px; margin-bottom:10px;
	}
	#error-min span.errmsg {
		font-family: LatoBlack, 'Bedas', 'Arial Black';
		display:block; text-align:center;
		font-size:16px; font-weight:bold;
	}
	
	</style>
</head>
<body>

<div id="error-min">
<span class="errnum">{{ code }}</span>
<span class="errmsg">
{% if ('HttpError' ~ code) == app.translator.trans('HttpError' ~ code) %}
	Http Error {{code}}
{% else  %}
	{{ ('HttpError' ~ code)|trans }}
{% endif %}
</span><br/>
<p style="font-align:justify;">
{{ message }}

<br/>&nbsp;<br/>
Vous pouvez reprendre votre navigation depuis l'une des pages ci-dessous:
</p>&nbsp;
<ul>
	<li><a class="home" href="{{ url('url_base') }}">Accueil</a>
	<!-- <li><a class="contact" href="#">Contact</a> -->
</ul>
</div>


</body>
</html>