<nav>

<ul class="big">
	<li><a href="{{ url('url_base') }}home" class="{% if 'home' == controller %}selected{% endif %}">Home</a>
	<li><a href="{{ url('url_base') }}bookmarks" class="{% if 'bookmarks' == controller %}selected{% endif %}"><span class="erobase">e</span>Signets</a>
	<li><a href="{{ url('url_base') }}pro" class="{% if 'pro' == controller %}selected{% endif %}">Pro</a>
</ul>

{% if user.name %}
<div class="sess">
{% if 'zwazo' == user.name %}
<a href="#" id="edit" ><!-- class="active" -->
	<img id="edit_off" src="/zwazo/img/icomoon/edit_disabled.svg" height="24px" />
	<img id="edit_on" src="/zwazo/img/icomoon/edit.svg" height="24px" />
</a>




<a href="{{ url('url_base') }}aa" ><img src="/zwazo/img/icomoon/fire14.svg" height="24px" /></a>
{% endif %}
<a href="{{ url('url_base') }}logout" ><img src="/zwazo/img/icomoon/door9.svg" height="24px" /></a>
</div>
{% endif %}


</nav>