<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ title }}</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/p_home.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/medias.css" media="screen" />

	<script type="text/javascript" src="{{ url('url_js') }}/jquery-2.1.1.min.js"> </script>
	<script type="text/javascript" src="{{ url('url_js') }}/p_home.js"> </script>

</head>
<body>

<!-- nice logo -->
<header>
	<div id="anim">
		<h1>Zwazo-Bleu</h1>
		<h2>Site pro et perso</h2>
		<cite>"Par ce que le chemin puise son intéret dans les paysages qu'il traverse"</cite>
	</div>
</header>

<nav>
<div class="section-top">
	<div class="title">Navigation</div>
</div>
	<ul class="sub-menu">
		<li class="first">
			<a href="javascript:void(0);" onclick="scrollto('#info');" class="info">
				<div class="icon">&nbsp;</div>
				<div class="txt">
					<h2 class="ca-main">Infos</h2>
					<h3 class="ca-sub">Rester Informé</h3>
				</div>
			</a>
		<li><a href="javascript:void(0);" onclick="scrollto('#pro');" class="pro">
				<div class="icon">&nbsp;</div>
				<div class="txt">
					<h2>Pro</h2>
					<h3>Mes Experiences</h3>
				</div>
			</a>
		<li><a href="javascript:void(0);" onclick="scrollto('#signet');" class="signet">
				<div class="icon">&nbsp;</div>
				<div class="txt">
					<h2>eSignets</h2>
					<h3>Post-it et <br/>Marques Pages</h3>
				</div>
		</a>
	</ul>
	<div style="clear:both;">&nbsp;<br/>&nbsp;</div>
</nav>

<section id="info">
<div class="section-top">
	<div class="title">Infos</div>
</div>

</section>

<section id="pro">
<div class="section-top">
	<div class="title">Pro</div>
</div>
	<!--
	<ul class="sub-menu">
		<li class="first">
			<a href="javascript:void(0);" >
				<div class="icon">&nbsp;</div>
				<div class="txt">
					<h2 class="ca-main">Développement</h2>
				</div>
			</a>
		<li><a href="javascript:void(0);" >
				<div class="icon">&nbsp;</div>
				<div class="txt">
					<h2>Management</h2>
				</div>
			</a>
		<li><a href="javascript:void(0);" >
				<div class="icon">&nbsp;</div>
				<div class="txt">
					<h2>Travaux</h2>
				</div>
		</a>
	</ul>
	<div style="clear:both;">&nbsp;<br/>&nbsp;<br/>&nbsp;</div>
	-->
</section>

<section id="signet">
<div class="section-top">
	<div class="title"><span class="erobase">e</span>Signet</div>
</div>

</section>

<a href="#" id="top">Top</a>

<!-- info + join -->
<footer>
&nbsp;

</footer>
</body>
</html>