<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ title }}</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/styles.css" media="screen" />
	{% for item in __src_css %}
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/{{ item.src }}" media="{{ item.media }}" />
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/medias.css" media="screen" />

	<script type="text/javascript" src="{{ url('url_js') }}/jquery-1.11.1.min.js"> </script>
	{% for item in __src_js %}
	<script type="text/javascript" src="{{ url('url_js') }}/{{ item.src }}"> </script>
	{% endfor %}

</head>
<body>

<div id="main">
{% include [controller ~ '/' ~ action ~'.html.twig', controller ~ '/frame.twig' ] ignore missing %}
</div>

</body>
</html>