<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ title }}</title>
	<meta name="description" content="Personal Website">
	<meta name="keywords" content="Bookmarks,Notes,Informatique,Développeur">
	<meta name="author" content="Raphaël (zwazo) RUDLER">
	
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/styles.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/{{ controller }}.css" media="screen" />
	
	<script type="text/javascript" src="{{ url('url_js') }}/jquery-1.11.1.min.js"> </script>
	
	{% if user.name and 'zwazo' == user.name %}
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/editor.css" media="screen" />
	<script type="text/javascript" src="{{ url('url_js') }}/Editor.class.js"> </script>
	{% endif %}
</head>
<body>

<header><div class="inner">{% include 'header.html.twig' ignore missing %}</div></header>

<div id="main"><div class="inner">
{% include [controller ~ '/' ~ action ~'.html.twig', controller ~ '/frame.twig' ] ignore missing %}
</div></div>

{% if user.name and 'zwazo' == user.name %}
{% include 'editor.html.twig' ignore missing %}
{% endif %}

<footer>
	<div class="inner">
		<a id="back_to_top" href="#" style="display: block;" original-title="Back to top">Back to top</a>
		{% include 'footer.html.twig' ignore missing %}
		&nbsp;
	</div>
</footer>

</body>
</html>