<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Zwazo-Bleu - Site Perso et Institutionnel</title>
	<meta name="description" content="Personal Website">
	<meta name="keywords" content="zwazobleu, Bookmarks,Notes,Informatique,Développeur">
	<meta name="author" content="Raphaël (zwazo) RUDLER">
	<meta name="viewport" content="width=device-width" />
	
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/styles.css" media="screen" />
	{% for item in __src_css %}
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/{{ item.src }}" media="{{ item.media }}" />
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/medias.css" media="screen" />
	
	<script type="text/javascript" src="{{ url('url_js') }}/jquery-1.11.1.min.js"> </script>
	{% for item in __src_js %}
	<script type="text/javascript" src="{{ url('url_js') }}/{{ item.src }}"> </script>
	{% endfor %}
	
	{% if user.name and 'admin' == user.role %}
	<link rel="stylesheet" type="text/css" href="{{ url('url_css') }}/editor.css" media="screen" />
	<script type="text/javascript" src="{{ url('url_js') }}/Editor.class.js"> </script>
	{% endif %}
</head>
<body>

<header><div class="inner">{% include 'header.html.twig' ignore missing %}</div></header>

<div id="main"><div class="inner">
{% include [controller ~ '/' ~ action ~'.html.twig', controller ~ '/frame.twig' ] ignore missing %}
</div></div>

{% if user.name and 'admin' == user.role %}
{% include 'editor.html.twig' ignore missing %}
{% endif %}

<footer>
	<div class="inner">
		<a id="back_to_top" href="#" style="display: block;" title="scroll to top">Back to top</a>
		{% include 'footer.html.twig' ignore missing %}
		&nbsp;
	</div>
</footer>

</body>
</html>